@import "tailwindcss";

@keyframes crt-flicker {
  0%, 100% { opacity: 0.005; }
  50% { opacity: 0.015; }
}

.animate-crt-flicker {
  animation: crt-flicker 4s ease-in-out infinite;
}

@keyframes flicker {
  0% { opacity: 0.7; transform: scaleY(1); }
  50% { opacity: 1; transform: scaleY(1.05); }
  100% { opacity: 0.8; transform: scaleY(0.98); }
}
